/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, li, a, button, form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #cde5d8;
}
main {
    background-color: #f3f6f1;
    max-width: 90%;
    padding: 0;
    margin: 0;
}
.logout {
    color: rgb(158, 151, 151);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
}
.logout:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.content-wrapper {
    max-width: 100%;
    max-height: 100%;

    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #000000;
}
.container {
    padding: 0;
}