{% extends 'base.html' %}
{% block content %}
<div class="max-w-md mx-auto">
    <form action="" method="post" class="space-y-4 p-6 bg-white shadow-md rounded-lg">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name != 'password_based_authentication' %}
                <div class="space-y-2">
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="text-xs text-gray-500">{{ field.help_text }}</p>
                    {% endif %}
                    {% for error in field.errors %}
                        <p class="text-xs text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <div style="display: none;">
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit" 
                class="w-full py-2 px-4 bg-indigo-600 text-white rounded-lg shadow-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            회원가입
        </button>
    </form>
</div>
{% endblock %}
