<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블로그 메인 페이지</title>
</head>
<body>
    <header>
        <h1>환영합니다! 블로그에 오신 것을 환영합니다.</h1>
    </header>
    
    <nav>
        <ul>
            <li>
				<a href="{% url 'post_list' %}">블로그 입장</a> <!-- 게시글 목록 페이지로 이동 -->
			</li>

            <li>
                <a href="">로그인</a>
            </li>
            
            <li>
                <a href="">회원 가입</a>
            </li>
        </ul>
    </nav>
    <main>
        <section>
            <h2>블로그 소개</h2>
            <p>여기는 여러분의 생각과 이야기를 공유하는 블로그입니다. 자유롭게 글을 작성하고 다른 사람들과 소통해 보세요.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Nathan's Blog. All rights reserved.</p>
    </footer>
</body>
</html>
